<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= form_with url: "/register", method: 'POST', local: true do |form| %>

  <%= form.label :username %>
  <%= form.text_field :username %>
  <%= form.label :password %>
  <%= form.text_field :password %>
  <%= form.label :password_confirmation %>
  <%= form.text_field :password_confirmation %>
  <%= form.label :uniqkey %>
  <%= form.text_field :uniqkey %>

  <%= form.submit "Register" %>

  <% end %>
